/* 
font-family: 'Song Myung', serif;
font-family: 'Yeon Sung', cursive;
font-family: 'Noto Serif KR', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500&family=Song+Myung&family=Yeon+Sung&display=swap&subset=korean');